.main-search {
    width: 80%;
    box-sizing: border-box;
    margin: 0 auto;
}

@media (min-width: 1000px) {
    .main-search {
        width: 40%;
    }
}

.input-add {
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}