.search-bar-container {
  width: 240px;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 1000px) {
  .search-bar-container {
      width: 650px;
  }
}
.search-bar-input, .search-bar-results {
  width: 90%;
  margin-bottom: 0;
}
.search-bar-results {
  position: absolute;
  z-index: 1;
}
.search-bar-button {
  width: 10%;
  display: inline-block;
  background-color: white;
  color: #555;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0 2px;
}
@media (min-width: 1000px) {
  .search-bar-button {
    padding: 0 7px;
  }
}

.live-search-result {
  list-style-type: none;
  padding: 5px;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  margin: 0;
  background: white;
  text-align: left;
  cursor: pointer;
}
.live-search-result:hover {
  background: #eee;
  cursor: pointer;
}
.live-search-result:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.live-search-pic {
  width: 15%;
  float: left;
}
.live-search-descr {
  width: 85%;
}

.search-bar-container .fa-spinner {
  position: absolute;
  right: 35%;
  top: 25px;
}

