.results-container {
  margin: 15px;
}
 
.results-list {
  list-style-type: none;
  width: 500px;
}
 
.result-heading {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
.result-image {
  float: left;
  margin: 0 15px 0 0;
}
 
.result-descr {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
.result {
  padding: 10px;
  overflow: auto;
}
 
.result:hover {
  background: #eee;
  cursor: pointer;
}