.title-header {
    height: 150px;
    margin-bottom: 15px;
}

.title-crew {
    margin-bottom: 5px;
}

.title-crew-heading {
    margin-bottom: 2px;
}

.title-cast-heading {
    margin-bottom: 2px;
}

.title-image {
    border: 1px solid black;
    border-radius: 5px;
    height: 100%;
}

.title-more {
    height: 28px;
    width: 50px;
    padding: 5px;
    margin-top: 5px;
    background-color: #d1a9f9;
    color: white;
    display: block;
    line-height: 0;
}