.App-header {
  background-color: #ffff87;
  margin-bottom: 15px;
  text-align: center;
  /*box-shadow: 10px 5px 5px black; */
  height: 50px;
  padding: 20px;
  color: black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.App-main {
  margin: 0 auto;
  width: 80%;
  position: relative;
  min-height: 150px;
}
@media (min-width: 1000px) {
    .App-main {
        width: 60%;
    }
}

.loading-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffff87;
  opacity: 0.4;
  overflow: auto;
}

.loading-icon {
  top: 25%;
  margin: 0 auto;
  margin-top: 25px;
}